<div layout="column">
    <md-content layout-padding layout-wrap>

        <mep-file-list 
            files="main.fileList" 
            storage-data="main.storageData" 
            title="'Your files'">
        </mep-file-list>

    </md-content>
</div>
