<md-card class="yourFiles">
    <md-toolbar class="yourFiles__toolbar">
        <div class="md-toolbar-tools">
            <h2>
          <span>{{ title }}</span>
        </h2></div>
    </md-toolbar>
    <md-card-content layout="column">
        <div class="yourFiles__storageAvaliable" ng-if="storageData">
            <div layout layout-align="start center" class="yourFiles__storageAvaliable--text">
                <div flex>
                    <span class="yourFiles__storageAvaliable--title">Storage usage:</span>
                    <br hide show-xs>
                    <strong class="yourFiles__storageAvaliable--percentage">{{ storageData.percentage }}%</strong>
                    <span class="yourFiles__storageAvaliable--detail">{{ formatBytes(storageData.used) }} of {{ formatBytes(storageData.limit) }}</span>
                </div>
                <md-button class="md-primary" aria-label="Share">
                    Need more space?
                </md-button>
            </div>
            <md-progress-linear class="yourFiles__storageAvaliable--progressBar" md-mode="determinate" value="{{ storageData.percentage }}"></md-progress-linear>
        </div>
        <md-divider></md-divider>
        <md-list flex>
            <md-list-item class="md-3-line yourFiles__files" ng-repeat="file in files" ng-click="null">
                <img ng-src="{{ file.thumb }}" class="md-avatar yourFiles__files--image" alt="File" />
                <div class="md-list-item-text" layout="column">
                    <div layout layout-align="start center">
                        <h3 flex>{{ file.name }} 
                                <span hide show-gt-sm class="yourFiles__files--path">({{ file.path }} )</span>
                              </h3>
                        <span flex="none" class="yourFiles__files--date">{{ file.lastModification | date: 'dd/MM/yyyy' }} <md-tooltip md-direction="left">Last modification</md-tooltip></span>
                    </div>
                    <p class="yourFiles__files--data"><span hide-gt-sm>Path: {{ file.path }}<br></span> Size: {{ formatBytes(file.size) }} | Uploaded: {{ file.uploadDate | date: 'dd/MM/yyyy' }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions layout layout-align="end center">
        <md-button class="md-primary" aria-label="Share" ng-if="storageData">
            See your storage
        </md-button>
    </md-card-actions>
</md-card>
