.yourFiles {
    md-card-content {
        padding: 0;
    }
    .yourFiles__toolbar {
        border-radius: 3px 3px 0 0;
    }
    .yourFiles__storageAvaliable {
        background: rgb(229, 230, 239);
        line-height: 1.4em;
        .yourFiles__storageAvaliable--text {
            padding: 10px 10px 0 20px;
        }
        .yourFiles__storageAvaliable--title {
            margin: 0 0 5px 0;
        }
        .yourFiles__storageAvaliable--detail {
            color: #fff;
            font-size: 0.9em;
            background: #bbb;
            padding: 3px 6px;
            border-radius: 10px;
            font-weight: 700;
        }
        .yourFiles__storageAvaliable--progressBar {
            margin: 7px 0 0;
            .md-container .md-bar2 {
                transition: all 0.5s linear;
                transform: translateX(-40%) scale(0, 1)
            }
        }
    }
    .yourFiles__files {
        .yourFiles__files--image {
            width: 50px;
            height: 50px;
        }
        .yourFiles__files--date,
        .yourFiles__files--path {
            color: #999;
            font-size: 0.8em;
            line-height: 1.6em;
        }
    }
}

@media screen and (max-width: 960px) {
    .yourFiles {
        .yourFiles__files {
            .yourFiles__files--image {
                width: 48px;
                height: 48px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .yourFiles {
        .yourFiles__files {
            .yourFiles__files--image {
                width: 44px;
                height: 44px;
            }
            .yourFiles__files--date,
            .yourFiles__files--path {
                font-size: 0.75em;
            }
            .yourFiles__files--data {
                font-size: 0.8em !important;
            }
        }
        .yourFiles__storageAvaliable {
            .yourFiles__storageAvaliable--text {
                font-size: 0.9em;
                padding: 10px 10px 0 20px;
            }
            .yourFiles__storageAvaliable--title {
                font-size: 1em;
            }
        }
    }
}
